@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

:root {
  font-family: var(--font-sans);
}

body {
  @apply antialiased text-gray-900 bg-gray-50;
}